.v-application .v-chip {
  &.default {
    background-color: var(--v-info-base)!important;
    color: var(--v-info-darken1)!important;
  }
  &.success {
    background-color: var(--v-success-lighten2)!important;
    color: var(--v-success-darken1)!important;
  }
  &.warning {
    background-color: var(--v-warning-lighten1)!important;
    color: var(--v-warning-darken1)!important;
  }
  &.error {
    background-color: var(--v-error-lighten1)!important;
    color: var(--v-error-darken1)!important;
  }

  &.v-size--default {
    font-size: rem(15);
  }
  &.v-size--small {
    font-size: rem(12);
  }
}
