.form-builder {
  &__fields {
    display: flex;
    flex-direction: column;

    .form-field {
      margin: 0 0 8px;
    }
  }

  &__add-field {
    width: 100%;
    border: 1px dashed #ccc;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    transition: border-color 0.2s ease, background 0.2s ease;

    &:hover {
      border-color: #999;
      background: rgba(#000, 0.05);
    }
  }
}
